Mounted at /content/drive/

In [1]:
import matplotlib.pyplot as plt
import os
import re
import shutil
import string
import tensorflow as tf
import seaborn as sns
from tensorflow.keras import regularizers

from tensorflow.keras import layers
from tensorflow.keras import losses

from collections import Counter


import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

from tensorflow.keras import preprocessing
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from keras.datasets import imdb
from tensorflow.keras.preprocessing.text import Tokenizer

In [2]:
#uploading training dataset

test_data= pd.read_csv("UNSW_NB15_testing-set.csv",header=None)
print('-------Test data--------')
print(test_data[43].value_counts())
print(test_data.shape)
print('-------------------------')
test_data.drop(test_data.index[0],inplace = True)
test_data

-------Test data--------
Normal            56000
Generic           40000
Exploits          33393
Fuzzers           18184
DoS               12264
Reconnaissance    10491
Analysis           2000
Backdoor           1746
Shellcode          1133
Worms               130
Name: 43, dtype: int64
(175341, 45)
-------------------------

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
1,2,0.649902,tcp,-,FIN,14,38,734,42014,78.473372,...,1,2,0,0,0,1,6,0,Normal,0
2,3,1.623129,tcp,-,FIN,8,16,364,13186,14.170161,...,1,3,0,0,0,2,6,0,Normal,0
3,4,1.681642,tcp,ftp,FIN,12,12,628,770,13.677108,...,1,3,1,1,0,2,1,0,Normal,0
4,5,0.449454,tcp,-,FIN,10,6,534,268,33.373826,...,1,40,0,0,0,2,39,0,Normal,0
5,6,0.380537,tcp,-,FIN,10,6,534,268,39.417980,...,1,40,0,0,0,2,39,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175336,175337,0.000009,udp,dns,INT,2,0,114,0,111111.107200,...,13,24,0,0,0,24,24,0,Generic,1
175337,175338,0.505762,tcp,-,FIN,10,8,620,354,33.612649,...,1,2,0,0,0,1,1,0,Shellcode,1
175338,175339,0.000009,udp,dns,INT,2,0,114,0,111111.107200,...,3,13,0,0,0,3,12,0,Generic,1
175339,175340,0.000009,udp,dns,INT,2,0,114,0,111111.107200,...,14,30,0,0,0,30,30,0,Generic,1
175340,175341,0.000009,udp,dns,INT,2,0,114,0,111111.107200,...,16,30,0,0,0,30,30,0,Generic,1

In [3]:
test_data.drop(test_data[test_data[43]=='Generic'].index, inplace = True)
test_data.drop(test_data[test_data[43]=='Fuzzers'].index, inplace = True)
test_data.drop(test_data[test_data[43]=='Reconnaissance'].index, inplace = True)
test_data.drop(test_data[test_data[43]=='Backdoor'].index, inplace = True)
test_data.drop(test_data[test_data[43]=='Shellcode'].index, inplace = True)
test_data.drop(test_data[test_data[43]=='Analysis'].index, inplace = True)
test_data.drop(test_data[test_data[43]=='Worms'].index, inplace = True)
print(test_data[43].value_counts())

Normal      55999
Exploits    33393
DoS         12264
Name: 43, dtype: int64

In [4]:
#uploading training dataset

train_data= pd.read_csv("UNSW_NB15_training-set.csv",header= None)
print('-------Train data--------')
print(train_data[43].value_counts())
print(len(train_data))
print('-------------------------')
train_data.drop(train_data.index[0],inplace = True)
train_data

C:\Users\DELL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (0,1,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

-------Train data--------
Normal            37000
Generic           18871
Exploits          11132
Fuzzers            6062
DoS                4089
Reconnaissance     3496
Analysis            677
Backdoor            583
Shellcode           378
Worms                44
attack_cat            1
Name: 43, dtype: int64
82333
-------------------------

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
1,1,0.000011,udp,-,INT,2,0,496,0,90909.0902,...,1,2,0,0,0,1,2,0,Normal,0
2,2,0.000008,udp,-,INT,2,0,1762,0,125000.0003,...,1,2,0,0,0,1,2,0,Normal,0
3,3,0.000005,udp,-,INT,2,0,1068,0,200000.0051,...,1,3,0,0,0,1,3,0,Normal,0
4,4,0.000006,udp,-,INT,2,0,900,0,166666.6608,...,1,3,0,0,0,2,3,0,Normal,0
5,5,0.00001,udp,-,INT,2,0,2126,0,100000.0025,...,1,3,0,0,0,2,3,0,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82328,82328,5e-06,udp,-,INT,2,0,104,0,200000,...,1,2,0,0,0,2,1,0,Normal,0
82329,82329,1.1061,tcp,-,FIN,20,8,18062,354,24.4101,...,1,1,0,0,0,3,2,0,Normal,0
82330,82330,0,arp,-,INT,1,0,46,0,0,...,1,1,0,0,0,1,1,1,Normal,0
82331,82331,0,arp,-,INT,1,0,46,0,0,...,1,1,0,0,0,1,1,1,Normal,0
82332,82332,9e-06,udp,-,INT,2,0,104,0,111111,...,1,1,0,0,0,1,1,0,Normal,0

In [5]:
train_data.drop(train_data[train_data[43]=='Generic'].index, inplace = True)
train_data.drop(train_data[train_data[43]=='Fuzzers'].index, inplace = True)
train_data.drop(train_data[train_data[43]=='Reconnaissance'].index, inplace = True)
train_data.drop(train_data[train_data[43]=='Backdoor'].index, inplace = True)
train_data.drop(train_data[train_data[43]=='Shellcode'].index, inplace = True)
train_data.drop(train_data[train_data[43]=='Analysis'].index, inplace = True)
train_data.drop(train_data[train_data[43]=='Worms'].index, inplace = True)
print(train_data[43].value_counts())

Normal      37000
Exploits    11132
DoS          4089
Name: 43, dtype: int64

In [6]:
#preprocessing
#Evaluation of the training dataset
train_data.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
dtype: int64

In [7]:

train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52221 entries, 1 to 82332
Data columns (total 45 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       52221 non-null  object
 1   1       52221 non-null  object
 2   2       52221 non-null  object
 3   3       52221 non-null  object
 4   4       52221 non-null  object
 5   5       52221 non-null  object
 6   6       52221 non-null  object
 7   7       52221 non-null  object
 8   8       52221 non-null  object
 9   9       52221 non-null  object
 10  10      52221 non-null  object
 11  11      52221 non-null  object
 12  12      52221 non-null  object
 13  13      52221 non-null  object
 14  14      52221 non-null  object
 15  15      52221 non-null  object
 16  16      52221 non-null  object
 17  17      52221 non-null  object
 18  18      52221 non-null  object
 19  19      52221 non-null  object
 20  20      52221 non-null  object
 21  21      52221 non-null  object
 22  22      52221 non-null  object
 23  23      52221 non-null  object
 24  24      52221 non-null  object
 25  25      52221 non-null  object
 26  26      52221 non-null  object
 27  27      52221 non-null  object
 28  28      52221 non-null  object
 29  29      52221 non-null  object
 30  30      52221 non-null  object
 31  31      52221 non-null  object
 32  32      52221 non-null  object
 33  33      52221 non-null  object
 34  34      52221 non-null  object
 35  35      52221 non-null  object
 36  36      52221 non-null  object
 37  37      52221 non-null  object
 38  38      52221 non-null  object
 39  39      52221 non-null  object
 40  40      52221 non-null  object
 41  41      52221 non-null  object
 42  42      52221 non-null  object
 43  43      52221 non-null  object
 44  44      52221 non-null  object
dtypes: object(45)
memory usage: 18.3+ MB

In [8]:
train_data=train_data.drop([2,3,43],axis=1)
train_data=train_data.drop([0],axis=1)
test_data=test_data.drop([2,3,43],axis=1)
test_data=test_data.drop([0],axis=1)

In [9]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
'''train_data[43] = le.fit_transform(train_data[43])
test_data[43] = le.fit_transform(test_data[43])'''
train_data[4] = le.fit_transform(train_data[4])
test_data[4] = le.fit_transform(test_data[4])

In [10]:
train_data = train_data.apply(pd.to_numeric)
test_data = test_data.apply(pd.to_numeric)

In [11]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52221 entries, 1 to 82332
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       52221 non-null  float64
 1   4       52221 non-null  int32
 2   5       52221 non-null  int64
 3   6       52221 non-null  int64
 4   7       52221 non-null  int64
 5   8       52221 non-null  int64
 6   9       52221 non-null  float64
 7   10      52221 non-null  int64
 8   11      52221 non-null  int64
 9   12      52221 non-null  float64
 10  13      52221 non-null  float64
 11  14      52221 non-null  int64
 12  15      52221 non-null  int64
 13  16      52221 non-null  float64
 14  17      52221 non-null  float64
 15  18      52221 non-null  float64
 16  19      52221 non-null  float64
 17  20      52221 non-null  int64
 18  21      52221 non-null  int64
 19  22      52221 non-null  int64
 20  23      52221 non-null  int64
 21  24      52221 non-null  float64
 22  25      52221 non-null  float64
 23  26      52221 non-null  float64
 24  27      52221 non-null  int64
 25  28      52221 non-null  int64
 26  29      52221 non-null  int64
 27  30      52221 non-null  int64
 28  31      52221 non-null  int64
 29  32      52221 non-null  int64
 30  33      52221 non-null  int64
 31  34      52221 non-null  int64
 32  35      52221 non-null  int64
 33  36      52221 non-null  int64
 34  37      52221 non-null  int64
 35  38      52221 non-null  int64
 36  39      52221 non-null  int64
 37  40      52221 non-null  int64
 38  41      52221 non-null  int64
 39  42      52221 non-null  int64
 40  44      52221 non-null  int64
dtypes: float64(11), int32(1), int64(29)
memory usage: 16.5 MB

In [12]:
'''list=[1,9,12,13,16,17,18,19,24,25,26]
for x in list:
  '''
train_data.round(decimals=2)
train_data = train_data.astype(int)
test_data.round(decimals=2)
test_data = test_data.astype(int)
train_data

,1,4,5,6,7,8,9,10,11,12,...,34,35,36,37,38,39,40,41,42,44
1,0,3,2,0,496,0,90909,254,0,180363632,...,1,1,2,0,0,0,1,2,0,0
2,0,3,2,0,1762,0,125000,254,0,881000000,...,1,1,2,0,0,0,1,2,0,0
3,0,3,2,0,1068,0,200000,254,0,854400000,...,1,1,3,0,0,0,1,3,0,0
4,0,3,2,0,900,0,166666,254,0,600000000,...,2,1,3,0,0,0,2,3,0,0
5,0,3,2,0,2126,0,100000,254,0,850400000,...,2,1,3,0,0,0,2,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82328,0,3,2,0,104,0,200000,254,0,83200000,...,1,1,2,0,0,0,2,1,0,0
82329,1,2,20,8,18062,354,24,254,252,124104,...,1,1,1,0,0,0,3,2,0,0
82330,0,3,1,0,46,0,0,0,0,0,...,1,1,1,0,0,0,1,1,1,0
82331,0,3,1,0,46,0,0,0,0,0,...,1,1,1,0,0,0,1,1,1,0
82332,0,3,2,0,104,0,111111,254,0,46222220,...,1,1,1,0,0,0,1,1,0,0

In [13]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52221 entries, 1 to 82332
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       52221 non-null  int32
 1   4       52221 non-null  int32
 2   5       52221 non-null  int32
 3   6       52221 non-null  int32
 4   7       52221 non-null  int32
 5   8       52221 non-null  int32
 6   9       52221 non-null  int32
 7   10      52221 non-null  int32
 8   11      52221 non-null  int32
 9   12      52221 non-null  int32
 10  13      52221 non-null  int32
 11  14      52221 non-null  int32
 12  15      52221 non-null  int32
 13  16      52221 non-null  int32
 14  17      52221 non-null  int32
 15  18      52221 non-null  int32
 16  19      52221 non-null  int32
 17  20      52221 non-null  int32
 18  21      52221 non-null  int32
 19  22      52221 non-null  int32
 20  23      52221 non-null  int32
 21  24      52221 non-null  int32
 22  25      52221 non-null  int32
 23  26      52221 non-null  int32
 24  27      52221 non-null  int32
 25  28      52221 non-null  int32
 26  29      52221 non-null  int32
 27  30      52221 non-null  int32
 28  31      52221 non-null  int32
 29  32      52221 non-null  int32
 30  33      52221 non-null  int32
 31  34      52221 non-null  int32
 32  35      52221 non-null  int32
 33  36      52221 non-null  int32
 34  37      52221 non-null  int32
 35  38      52221 non-null  int32
 36  39      52221 non-null  int32
 37  40      52221 non-null  int32
 38  41      52221 non-null  int32
 39  42      52221 non-null  int32
 40  44      52221 non-null  int32
dtypes: int32(41)
memory usage: 8.6 MB

In [14]:
X = train_data.iloc[:,0:40]
Y = train_data.iloc[:,40]
C = test_data.iloc[:,40]
T = test_data.iloc[:,0:40]
print(Y)
print(X)

1        0
2        0
3        0
4        0
5        0
        ..
82328    0
82329    0
82330    0
82331    0
82332    0
Name: 44, Length: 52221, dtype: int32
       1   4   5   6      7    8       9    10   11         12  ...  33  34  \
1       0   3   2   0    496    0   90909  254    0  180363632  ...   1   1
2       0   3   2   0   1762    0  125000  254    0  881000000  ...   1   1
3       0   3   2   0   1068    0  200000  254    0  854400000  ...   1   1
4       0   3   2   0    900    0  166666  254    0  600000000  ...   2   2
5       0   3   2   0   2126    0  100000  254    0  850400000  ...   2   2
...    ..  ..  ..  ..    ...  ...     ...  ...  ...        ...  ...  ..  ..
82328   0   3   2   0    104    0  200000  254    0   83200000  ...   2   1
82329   1   2  20   8  18062  354      24  254  252     124104  ...   2   1
82330   0   3   1   0     46    0       0    0    0          0  ...   1   1
82331   0   3   1   0     46    0       0    0    0          0  ...   1   1
82332   0   3   2   0    104    0  111111  254    0   46222220  ...   1   1

       35  36  37  38  39  40  41  42
1       1   2   0   0   0   1   2   0
2       1   2   0   0   0   1   2   0
3       1   3   0   0   0   1   3   0
4       1   3   0   0   0   2   3   0
5       1   3   0   0   0   2   3   0
...    ..  ..  ..  ..  ..  ..  ..  ..
82328   1   2   0   0   0   2   1   0
82329   1   1   0   0   0   3   2   0
82330   1   1   0   0   0   1   1   1
82331   1   1   0   0   0   1   1   1
82332   1   1   0   0   0   1   1   0

[52221 rows x 40 columns]

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# transform data
trainX = scaler.fit_transform(X)
# summarize transformed data
np.set_printoptions(precision=3)
#print(trainX[0:5,:])

In [16]:
scaler = StandardScaler()
# transform data
testT = scaler.fit_transform(T)
# summarize transformed data
np.set_printoptions(precision=3)
#print(testT[0:5,:])

In [17]:
y_train = np.array(Y)
y_test = np.array(C)

In [18]:

X_train = np.reshape(trainX, (trainX.shape[0], trainX.shape[1],1))
X_test = np.reshape(testT, (testT.shape[0], testT.shape[1],1))

In [19]:
from __future__ import print_function
import numpy as np
np.random.seed(1337)  # for reproducibility

from keras.preprocessing import sequence
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Lambda
from keras.layers import Embedding
from keras.layers import Convolution1D,MaxPooling1D, Flatten
from keras.datasets import imdb
from keras import backend as K
import pandas as pd
from keras.utils.np_utils import to_categorical

from sklearn.preprocessing import Normalizer
from keras.models import Sequential
from keras.layers import Convolution1D, Dense, Dropout, Flatten, MaxPooling1D
from keras.utils import np_utils
import numpy as np
import h5py
from keras import callbacks
from keras.layers import LSTM, GRU, SimpleRNN
from keras.callbacks import CSVLogger
from keras.callbacks import ModelCheckpoint, EarlyStopping, ReduceLROnPlateau, CSVLogger
from keras.layers.convolutional import MaxPooling1D

In [20]:
lstm_output_size = 128

cnn = Sequential()
cnn.add(Convolution1D(64, 3, padding="same",activation="relu",input_shape=(40,1)))
cnn.add(MaxPooling1D(pool_size=(2)))
cnn.add(Flatten())
cnn.add(Dense(128, activation="relu"))
cnn.add(Dropout(0.1))
cnn.add(Dense(1, activation="sigmoid"))
print(cnn.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d (Conv1D)              (None, 40, 64)            256
_________________________________________________________________
max_pooling1d (MaxPooling1D) (None, 20, 64)            0
_________________________________________________________________
flatten (Flatten)            (None, 1280)              0
_________________________________________________________________
dense (Dense)                (None, 128)               163968
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 129
=================================================================
Total params: 164,353
Trainable params: 164,353
Non-trainable params: 0
_________________________________________________________________
None

In [34]:
cnn.compile(loss="binary_crossentropy", optimizer="adam",metrics=['accuracy'])
cnn.fit(X_train, y_train,epochs=50)

Epoch 1/50
1632/1632 [==============================] - 10s 5ms/step - loss: 0.0440 - accuracy: 0.9834
Epoch 2/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0462 - accuracy: 0.9823
Epoch 3/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0457 - accuracy: 0.9831
Epoch 4/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0439 - accuracy: 0.9835
Epoch 5/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0477 - accuracy: 0.9821
Epoch 6/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0455 - accuracy: 0.9830
Epoch 7/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0453 - accuracy: 0.9831
Epoch 8/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0449 - accuracy: 0.9833
Epoch 9/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0454 - accuracy: 0.9824
Epoch 10/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0455 - accuracy: 0.9826
Epoch 11/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0481 - accuracy: 0.9829
Epoch 12/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0423 - accuracy: 0.9844
Epoch 13/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0468 - accuracy: 0.9824
Epoch 14/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0439 - accuracy: 0.9832
Epoch 15/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0430 - accuracy: 0.9836
Epoch 16/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0420 - accuracy: 0.9837
Epoch 17/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0444 - accuracy: 0.9837
Epoch 18/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0431 - accuracy: 0.9834
Epoch 19/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0443 - accuracy: 0.9830
Epoch 20/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0447 - accuracy: 0.9831
Epoch 21/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0433 - accuracy: 0.9832
Epoch 22/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0431 - accuracy: 0.9838
Epoch 23/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0429 - accuracy: 0.9834
Epoch 24/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0427 - accuracy: 0.9842
Epoch 25/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0439 - accuracy: 0.9834
Epoch 26/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0426 - accuracy: 0.9845
Epoch 27/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0433 - accuracy: 0.9840
Epoch 28/50
1632/1632 [==============================] - 9s 6ms/step - loss: 0.0446 - accuracy: 0.9828
Epoch 29/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0421 - accuracy: 0.9834
Epoch 30/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0440 - accuracy: 0.9836
Epoch 31/50
1632/1632 [==============================] - 9s 6ms/step - loss: 0.0398 - accuracy: 0.9848
Epoch 32/50
1632/1632 [==============================] - 9s 6ms/step - loss: 0.0489 - accuracy: 0.9829
Epoch 33/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0420 - accuracy: 0.9841
Epoch 34/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0421 - accuracy: 0.9835
Epoch 35/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0428 - accuracy: 0.9833
Epoch 36/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0421 - accuracy: 0.9842
Epoch 37/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0393 - accuracy: 0.9845
Epoch 38/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0428 - accuracy: 0.9835
Epoch 39/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0426 - accuracy: 0.9833
Epoch 40/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0408 - accuracy: 0.9842
Epoch 41/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0418 - accuracy: 0.9841
Epoch 42/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0413 - accuracy: 0.9840
Epoch 43/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0408 - accuracy: 0.9851
Epoch 44/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0408 - accuracy: 0.9846
Epoch 45/50
1632/1632 [==============================] - 9s 6ms/step - loss: 0.0421 - accuracy: 0.9841
Epoch 46/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0410 - accuracy: 0.9843
Epoch 47/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0404 - accuracy: 0.9851
Epoch 48/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0405 - accuracy: 0.9849
Epoch 49/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0400 - accuracy: 0.9856
Epoch 50/50
1632/1632 [==============================] - 9s 5ms/step - loss: 0.0412 - accuracy: 0.9845

In [35]:
loss, accuracy = cnn.evaluate(X_test, y_test)
print("\nLoss: %.2f, Accuracy: %.2f%%" % (loss, accuracy*100))

3177/3177 [==============================] - 8s 3ms/step - loss: 0.3950 - accuracy: 0.9448

Loss: 0.39, Accuracy: 94.48%

In [36]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import (precision_score, recall_score,f1_score, accuracy_score,mean_squared_error,mean_absolute_error)
y_pred = cnn.predict_classes(X_test)
#np.savetxt('/content/drive/MyDrive/predicted1.txt', y_pred, fmt='%01d')
accuracy = accuracy_score(y_test, y_pred)
recall = recall_score(y_test, y_pred , average="weighted")
precision = precision_score(y_test, y_pred , average="weighted")
f1 = f1_score(y_test, y_pred, average="weighted")

print("confusion matrix")
print("----------------------------------------------")
print("accuracy")
print("%.6f" %accuracy)
print("racall")
print("%.6f" %recall)
print("precision")
print("%.6f" %precision)
print("f1score")
print("%.6f" %f1)
cm = confusion_matrix(y_test, y_pred)
print(cm)
print("==============================================")

confusion matrix
----------------------------------------------
accuracy
0.944804
racall
0.944804
precision
0.947369
f1score
0.944478
[[55258   741]
 [ 4870 40787]]
==============================================